body {
  margin: 0 auto;
  text-align: center;
}

.QuizList {
  ul {
    text-align: left;
    padding: 0;
    display: inline-block;
    margin: .1em;
  }

  li {
    list-style: none;
    text-align: left;
    cursor: pointer;
  }

  max-width: 15em;
  border: .2em solid #000000;
  margin: 2em auto;
  padding: .5em;
}

.AnswerQuestion {
  .answer-div {
    text-align: left;
    border: .02em solid #000000;
    margin: .5em;
    padding: .2em;
  }
  .answer-div:hover {
    background: #c9c9c9;
  }
  input {
    margin-left: .5em;
    margin-right: 1em;
  }
  .submit {
    margin: 0 auto;
  }
}
