@import url(https://fonts.googleapis.com/css?family=Arimo|Open+Sans|Bree+Serif);body {
  margin: 0 auto;
  text-align: center;
  background-color: #000000; }
  body p {
    color: #EDE9E4; }

.Header {
  background-color: #AB0000;
  width: 100%;
  padding: .5em 1em 2em 1em;
  position: fixed;
  right: 0;
  left: 0;
  color: #EDE9E4;
  border-bottom: .5em solid #ffffff; }
  .Header h1 {
    font-family: "Arimo", sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 2.5em; }
  .Header h3 {
    font-family: "Bree Serif", serif;
    font-size: 1.5em; }

.QuizList {
  background: #ffffff;
  max-width: 15em;
  border: .2em solid #000000;
  margin: 20em auto;
  padding: .5em; }
  .QuizList ul {
    text-align: left;
    padding: 0;
    display: inline-block;
    margin: .1em; }
  .QuizList li {
    list-style: none;
    text-align: left;
    cursor: pointer; }

.Quiz {
  margin: 15em auto; }
  .Quiz button {
    margin-bottom: 2em; }

.AnswerQuestion {
  background-color: #850800;
  padding: .5em 1em;
  border: 0.2em solid #EDE9E4;
  border-radius: 2%; }
  .AnswerQuestion h3 {
    color: #EDE9E4;
    margin-bottom: 1em; }
  .AnswerQuestion .answer-div {
    text-align: left;
    color: #EDE9E4;
    font-family: "Open Sans", sans-serif;
    background: #000000;
    border: .02em solid #ffffff;
    padding: .2em; }
  .AnswerQuestion .answer-div:hover {
    background: #4C4B49; }
  .AnswerQuestion input {
    margin-left: .5em;
    margin-right: 1em; }
  .AnswerQuestion button {
    margin: 1.5em auto .5em; }
