body {
  margin: 0 auto;
  text-align: center; }

.QuizList {
  max-width: 15em;
  border: .2em solid #000000;
  margin: 2em auto;
  padding: .5em; }
  .QuizList ul {
    text-align: left;
    padding: 0;
    display: inline-block;
    margin: .1em; }
  .QuizList li {
    list-style: none;
    text-align: left;
    cursor: pointer; }

.AnswerQuestion .answer-div {
  text-align: left;
  border: .02em solid #000000;
  margin: .5em;
  padding: .2em; }

.AnswerQuestion .answer-div:hover {
  background: #c9c9c9; }

.AnswerQuestion input {
  margin-left: .5em;
  margin-right: 1em; }

.AnswerQuestion .submit {
  margin: 0 auto; }
